@import url("https://use.typekit.net/jmk3xov.css");
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: trebuchet ms;
}
html {
  scroll-behavior: smooth;
}

main {
  width: 100vw;
  color: white;
  z-index: 9;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
}
canvas {
  position:fixed;
  top: 0;
  left: 0;
}

.navbar {
  z-index: 10;
  position: fixed;
  padding: 0.5%;
  padding-top: 2%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
}
.navbar a {
  opacity: 0.95;
  padding: 1%;
  background: white;
  margin: 2%;
  text-decoration: none;
  color: hsl(190,100%,30%);
  font-weight: normal;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover {
  padding-left: 2%;
  padding-right: 2%;
  opacity: 1;
  background: hsl(190,100%,30%);
  color: white;
}
header h1, header h2 {
  font-weight: normal;
}
  header {
    grid-column: 2 / span 10;
    text-align: center;
    opacity: 0.9;
    padding: 2%;
    color: hsl(190,100%,20%);
    background: hsl(190,100%,100%);
    border-radius: 450px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 25%;
    transition: all 0.3s ease-in-out 0.3s;
    border-left: 0px solid hsl(190,100%,40%);
    box-shadow: 5px 5px 5px black;
  }
.ourProducts {
    border: none;
    padding: 2%;
    background: hsl(190,100%,30%);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out ;
  }
  header:hover {
    border-radius:0px;
    border-left: 20px solid hsl(190,100%,40%);
    opacity: 1;
    box-shadow: 10px 10px 50px black;
  }
header:hover .ourProducts {
  transition: all 0.3s ease-in-out 0.8s;
  padding: 2% 8% 2% 8%;
}
.section {
      grid-column: 2 / span 10;
      padding-top: 5%;
}
  .sectionContent {
    font-size: 80%;
    padding: 1rem;
    background: var(--dark-bg);
    line-height: 1.5;
    margin-bottom: var(--spacing);
    background: white;
    color: black;
    opacity: 0.95;
    margin-bottom: 5%;
    border-left: 20px solid hsl(190,100%,40%);
    box-shadow: 5px 5px 5px black;
    transition: all 0.7s ease-in-out;
  }
.ourHistorySection {
  grid-column:2 / span 4;
}
.sectionContent:hover {
  opacity: 1;
}
.ourHistory {
  background: black;
  color: white;
}

.light input, .light textarea {
  padding: 1%;
  margin-bottom: 2%;
  width: 50%;
}
.footer {
  grid-column: 1 / span 12;
  margin-bottom: 0;
  padding: 2%;
  background: black;
  border: none;
  color: white;
}

@media(max-width: 800px) {
  .ourHistorySection {
    grid-column: 2 / span 10;
  }
}
